* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-var-1: #ffffffca;
    --color-var-2: #FFFFFF;
    --color-var-3: rgba(0, 0, 255, 0.797);
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(travel.jpg);
    background-size: cover;
}

header {
    width: 100%;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    color: var(--color-var-2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    font-size: 2em;
    letter-spacing: 2px;
    font-size: 20px;
    letter-spacing: 2px;
}

#menu a {
    text-decoration: none;
    color: var(--color-var-2);
    padding: 10px 20px;
    position: relative;
}

#menu a:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 5%;
    width: 0%;
    height: 100%;
    border-bottom: 2.5px solid var(--color-var-3);
    transition: 0.4s linear;
}

#menu a:hover:before {
    width: 90%;
}

#register a {
    text-decoration: none;
    color: var(--color-var-1);
    padding: 10px 20px;
    background: var(--color-var-3);
    border-radius: 8px;
    transition: all 0.5s;
}

#register a:hover {
    border-radius: 20px;
    color: var(--color-var-2);
    background: transparent;
    border: 1px solid var(--color-var-3);
}

#h-txt {
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: wheat;
}

#h-txt span {
    letter-spacing: 5px;
}

#h-txt h1 {
    font-size: 3.5em;
}

#h-txt a {
    text-decoration: none;
    background: var(--color-var-3);
    color: var(--color-var-1);
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 8px;
    transition: all 0.5s;
}

#h-txt a:hover {
    background: transparent;
    border: 1px solid var(--color-var-3);
    border-radius: 20px;
    color: var(--color-var-2);
}